@model MezunSistemi.Models.Sirketler

@{
    ViewBag.Title = "Delete";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h3>Silmek İstediğine Emin misin ?</h3>
<div>
    <h4>Sirketler</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Sirket_Adi)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Sirket_Adi)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Adres)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Adres)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Sirket_TelNo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Sirket_TelNo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Sirket_Mail)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Sirket_Mail)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Şirketler Listesine Dön", "Index")
        </div>
    }
</div>
